line-bot-sdk==1.1.0
Flask==0.12
psycopg2==2.7.1
freeze==1.0.10
click==6.7
Flask-SQLAlchemy==2.2
future==0.16.0
itsdangerous==0.24
Jinja2==2.9.5
MarkupSafe==1.0
MySQL-python==1.2.5
requests==2.13.0
six==1.10.0
SQLAlchemy==1.1.6
virtualenv==12.1.1
Werkzeug==0.12.1
